html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	
}

.head{
	padding-top: 13px;
	padding-bottom: 2px;
}



p{
	font-size: 16px
}
body {

	margin: 0
}

h1 {
	font-size: 2em;
	margin-left: .67em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

div {
	transition: 1s;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

img {
	border-style: none
}

details {
	display: block
}

summary {
	display: list-item
}

[hidden],
template {
	display: none
}


p,
h1,
h2,
hl,
span,
a {
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background-color: transparent
}



ul,
li,
a{
	transition: 1s
}

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 22px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "Dark";
    padding-left: 10px;
    background-color: #010206; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Light";
    padding-right: 10px;
    background-color: #F5F6FA; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 55px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#navbar ul {
  display: none;
  background-color: #f90;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin-left: calc(100% - 1100px) ;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 35px;
  background-color: #010206;
  min-width: 200px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
	font-style:bold;
	transform: 1s;
	font-size: 20px;
	display: block;
	padding: 6px;
	width: 100px;
	color: #127472;
	text-decoration: none;
	text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #010206; }

.footer{
   position:fixed;
   bottom: -69px;
   width: calc(100% - 100px) ;
	
}

.link {
	border-width: 0;
	will-change: opacity;
}

.link:hover {
	opacity: .7
}

.link--dotted {
	border-style: dotted
}

.link--border {
	border-bottom: 1px solid
}

.link--border:hover {
	opacity: 1;
	border-color: transparent
}

.link-fill {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	cursor: pointer
}

.logo__icon {
	width: 156px;
	height: auto;
	display: block
}


.scroll-up__icon {
	width: 22px;
	height: 22px
}

.text-c-black {
	color: #000
}

.text-c-white {
	color: #fff
}

.text-c-acc {
	color: #f3910f
}

.text-c-base {
	color: #29304d
}

.text-inform {
	font-size: 32px;
	line-height: 1.3125;
	letter-spacing: .05em
}


.title-main {
	font-size: 55px;
	font-weight: 700;
	line-height: 1.23636;
	letter-spacing: .05em
}


.accordion__body {
	height: 0;
	overflow: hidden;
	will-change: height;
}

.inner {

	margin-left: 50px;
	margin-right: 50px
}

.wrapper {
	padding-top: 100px
}

.content-header {
	margin-bottom: 55px
}


.content-wrapper {
	font-size: 0;
	margin: 0px 20px 0px 50px;
}

.content-container,
.content-sidebar {
	font-size: 1rem;
    margin: 0px 0px 0px 0px;
}

.content-sidebar__box--with-bg {
	border: 0!important;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%
}


.content-box,
.services-nav {
	background-color: #000;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .05)
}

.content-box .table-head-title {
	padding: 30px;
	border-bottom: 1px solid #e9e9ec
}

.content-header__item,
.nav__item {
	position: relative;

}

.content-header__item:before,
.nav__item:before {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 2px;
	width: 100%;
	transform: scaleX(0);
	background-color: #f3910f;
	will-change: transform;
}

.content-header__item._current,
.content-header__item:hover,
.nav__item._current,
.nav__item:hover {
	color: #f3910f
}

.content-header__item._current:before,
.nav__item._current:before {
	transform: scaleX(1)
}

.footer {
	padding-top: 65px;
	padding-bottom: 65px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.footer__link,
.footer__text {
	color: #127472;
	font-size: 14px;
}

.footer__copyright,
.footer__links,
.footer__s-network {
	padding-top: 18px;
	padding-bottom: 18px
}

.footer__copyright {
	width: 322px
}

.footer__link {

}

.footer__link:not(:last-child) {
	margin-right: 40px
}

.footer__link._current,
.footer__link:hover {
	color: #29304d
}

.footer__body {
	height: 0
}

.footer__content {
	will-change: opacity;
}

[aria-hidden=true] .footer__content {
	opacity: 0;
	pointer-events: none;
	visibility: hidden
}

.header {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	position: fixed;
	will-change: transform
}

.header_sloy{
	font-size: 10px
	
}

.header__navigations {
    height: 103px;
	padding-bottom: 15px;
	background-color: #010206
}

.header__navigations,
.header__tape {
	position: relative;
	z-index: 10
}

.header__navigations:before {
	content: "";
	position: absolute;
	bottom: 99%;
	left: 0;
	width: 100%;
	height: 200%;
	background-color: #010206
}

.header__services {
	position: relative;
	z-index: 5;
	position: absolute;
	top: 100%;
	will-change: transform
}

.header__services[aria-hidden=true] {
	transform: translateY(-100%);
	pointer-events: none
}

.header__services-mobile {
	display: none;
	line-height: 1;
	vertical-align: middle
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: -15px;
  left: -50px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .5s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 150px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #010206;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .5s;
}

.menu__item {
  display: block;
  padding: 6px 12px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .5s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.hamburger-menu{
	visibility: hidden
}

.nav__list {

}

.modal__container .nav__list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column
}

.nav__item {
	color: #131930;
	font-size: 16px;
	font-weight: 500
}

.modal__container .nav__item {
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px
}

.modal__container .nav__item:not(:last-child) {
	margin-right: 0
}

.services-nav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 15
}

.services-nav-overlay[aria-hidden=true] {
	display: none
}

.services-nav {
	width: 100%
}


.header--fixed .twave-select {
	height: 100%;
	color: #fff;
}

.header--fixed .twave-select._active {
	color: #29304d;
	background-color: #000
}

.header--fixed .twave-select__toggle {
	height: 100%
}


.header--fixed .twave-select__current {
	background-color: transparent;
	color: #fff;
	height: 100%;
	border-left-color: hsla(0, 0%, 100%, .1)
}

.header--fixed .twave-select__current::-webkit-input-placeholder {
	color: #fff
}

.header--fixed .twave-select__current:-moz-placeholder,
.header--fixed .twave-select__current::-moz-placeholder {
	color: #fff
}

.header--fixed .twave-select__current:-ms-input-placeholder {
	color: #fff
}

.scroll-wrapper {
	overflow: hidden!important;
	padding: 0!important;
	position: relative
}

.scroll-wrapper>.scroll-content {
	border: none!important;
	box-sizing: content-box!important;
	height: auto;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none!important;
	padding: 0;
	position: relative!important;
	top: 0;
	width: auto!important
}

.scroll-wrapper>.scroll-content::-webkit-scrollbar {
	height: 0;
	width: 0
}

.scroll-wrapper.scroll--rtl {
	direction: rtl
}

.scroll-element {
	display: none
}

.scroll-element,
.scroll-element div {
	box-sizing: content-box
}

.scroll-element .scroll-arrow,
.scroll-element .scroll-bar {
	cursor: default
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
	display: block
}

.scroll-textarea {
	border: 1px solid #ccc;
	border-top-color: #999
}

.scroll-textarea>.scroll-content {
	overflow: hidden!important
}

.scroll-textarea>.scroll-content>textarea {
	border: none!important;
	box-sizing: border-box;
	height: 100%!important;
	margin: 0;
	max-height: none!important;
	max-width: none!important;
	outline: none;
	padding: 2px;
	position: relative!important;
	top: 0;
	width: 100%!important
}

.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar {
	height: 0;
	width: 0
}

.scroll-element,
.scroll-element div {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10
}

.scroll-element div {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%
}

.scroll-element.scroll-x {
	bottom: 0;
	height: 4px;
	left: 0;
	width: 100%
}

.scroll-element.scroll-y {
	height: 100%;
	right: 0;
	top: 0;
	width: 4px
}

.scroll-element .scroll-element_outer {
	overflow: hidden
}

.scroll-element .scroll-bar,
.scroll-element .scroll-element_track {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: .4
}

.scroll-element .scroll-element_track {
	background-color: #e0e0e0
}

.scroll-element .scroll-bar {
	background-color: #c2c2c2
}

.scroll-element.scroll-draggable .scroll-bar,
.scroll-element:hover .scroll-bar {
	background-color: #919191
}

.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
	left: -12px
}

.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
	top: -12px
}

.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
	left: -12px
}

.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
	top: -12px
}


* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

html {
	font-family: sans-serif;
	min-height: 100%;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

body {
	transition: 1s;
	font-family: Roboto, Arial, sans-serif;
	color: #127472;
	line-height: 1.42857;
	overflow-x: hidden;
	background-color: #101421
}

body.no-scroll {
	height: 100vh;
	overflow: hidden
}

.flex,
.flex-center {

	display: -ms-flexbox;
	display: flex
}

.flex--column,
.flex-center {
	-ms-flex-direction: column;
	flex-direction: column
}

.flex--j-between {
	-ms-flex-pack: justify;
	justify-content: space-between
}


.flex--j-center,
.flex-center {
	-ms-flex-pack: center;
	justify-content: center
}


.flex--a-center,
.flex-center {
	-ms-flex-align: center;
	align-items: center
}

.batton{
	padding-top: 1px
}

button {
	cursor: pointer;
	margin-right: calc(100% -1px);
	padding: 8px;
	border-width: 0;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 3px;
	font-size: 1em;
	margin-top: -40px;
	outline: none;
}
button:hover{
	background: rgb(45, 50, 102);
}

.button-5 {
	cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    color: #61ffff;
    border: 1px solid #3A374C;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    transition: .3s linear;
}
.button-5:before, .button-5:after, .link-content:before, .link-content:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    transition: .3s linear;
}
.button-5:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid #ffb12f;
    border-top: 1px solid #ffb12f;
}
.button-5:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #ffb12f;
    border-right: 1px solid #ffb12f;
}
.link-content:after {
    right: -1px;
    top: -1px;
    border-right: 1px solid #ffb12f;
    border-top: 1px solid #ffb12f;
}
.link-content:before {
    left: -1px;
    bottom: -1px;
    border-bottom: 1px solid #ffb12f;
    border-left: 1px solid #ffb12f;
}
.button-5:hover {
    color: #ffb12f;
    border-color: #ffb12f;
}

button,
input,
select,
textarea {
	-webkit-appearance: none
}

input::-ms-clear {
	display: none
}

h1{
	margin-left: 50px;
}
h2,
h3,
h4,
p,
ul {
	margin: 0
}

img {
	display: block
}

#footer_cont {
	position: fixed;
	z-index: 2258594000;
	left: 0;
	right: 0;
	top: 0
}

#charts {
	width: 100%;
	margin-top: 30px
}

#charts .content-header {
	margin-bottom: 30px
}

.tview-chart {
    position: fixed;
	clear: both;
	padding: 0px;
	border: 3px solid #61ffff;
	height: calc(100% - 200px);
    width: calc(100% - 100px);
}

.tview-chart1{
	display:none;
}

.style-tabs ul {
	margin: 0;
	list-style: none
}

.style-tabs ul li {
	float: left;
	border: 3px solid #61ffff;
	padding: 10px 20px;
	position: relative;
	top: 2px;
	background: #f5f6fa
}

.style-tabs ul li a {
	color: #61ffff;
	font-weight: 700
}

.style-tabs ul li.ui-state-active {
	font-weight: 700;
	border-bottom: none;
	border-top: 3px solid #61ffff
}


.clear {
	clear: both
}

span.block-in-a {
	display: block
}

a.offset-anchor {
	position: relative;
	bottom: 70px
}


