@media  only screen and (max-width: 1024px) {
	.meuuu{
		display:none;
	}
	.hamburger-menu{
		visibility: visible;
	}
	.menu__btn{
		visibility: visible;
	  top: 3px;
	  left: 5px;
	p . {
		display:none;
	}
	.header__navigations{
		
    height: 103px;

	}
}


@media  only screen and (max-width: 715px) {
	/*.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	*/
	.inner {
		margin-left: 0;
		margin-right: 10px;
	}
	.head {
    padding-top: 0;
    padding-bottom: 0;
	}
	.header__navigations{
		height: 93px
	}
	h1 {
	font-size: 2em;
	margin: .23em;
	}
	.heder{
	font-size: 16px;
	}
	.wrapper {
	padding-top: 90px
}
	.mobile-visible {
		display: none
	}
	.nav__list {
		font-size: 0em;
		font-size: 16px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px

	}
	.meuuu{
		display:none;
	}


}

@media  only screen and (max-width: 602px) {
		.footer__text{
		display:none;
	}
	p{
		display:none;
	}
	.header__navigations{
		height: 82px;
	}
	h1{
		display: center
	}
	.meuuu{
		display:none;
	}

	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	h1 {
	font-size: 2em;
	margin: .32em;
	}
	.heder{
	font-size: 12px;
	}
	.wrapper {
	padding-top: 79px
	}
	.mobile-visible {
		display: none
	}
	.nav__list {
		display:center;
		font-size: 0em;
		font-size: 12px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
	.meuuu{
		display:none;
	}
}

@media  only screen and (max-width: 513px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	.mobile-visible {
		display: none
	}
	.wrapper {
	padding-top: 78px
	}
	.nav__list {
		display:center;
		font-size: 16px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
	.meuuu{
		display:none;
	}
}


@media  only screen and (max-width: 467px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	h1 {
	font-size: 2em;
	margin: 1.04em;
	}
	.eyreyr{
	  bottom: -6px;
	}
	.mobile-visible {
		display: none
	}
	.nav__list {
		font-size: 0em;
		font-size: 14px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.inner{
		
    height: 80px;

	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
	.meuuu{
		display:none;
	}
}
@media  only screen and (max-width: 450px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	h1 {
	font-size: 2.4em;
	margin: 0.96em;
	}
	.wrapper {
	padding-top: 78px
	}
	.mobile-visible {
		display: none
	}
	.nav__list {
		font-size: 0em;
		font-size: 12px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.inner{
		
    height: 80px;

	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
	.meuuu{
		display:none;
	}
}
@media  only screen and (max-width: 422px) {
	
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	.wrapper {
	padding-top: 79px
	}
	.mobile-visible {
		display: none
	}
	h1 {
	font-size: 2em;
	margin: 1.3em;
	}
	.nav__list {
		font-size: 0em;
		font-size: 10px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.inner{
		
    height: 80px;

	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
	.meuuu{
		display:none;
	}

}


@media  only screen and (max-width: 362px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	.wrapper {
	padding-top: 79px
	}
	.mobile-visible {
		display: none
	}
	h1 {
	font-size: 2em;
	margin: 1.3em;
	}
	.nav__list {
		font-size: 0em;
		font-size: 9px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 10px;
		margin-top: 1px
	}
	.meuuu{
		display:none;
	}
}
@media  only screen and (orientation:landscape) and (max-width: 1024px) {
	.header{
		display:none
	}
	.wrapper {
    padding-top: 0;
	}
	#charts{
		margin-top: 10px
		
	}
	.content-wrapper{
		margin:0;
		margin-left: 20px;
	}
	.tview-chart{
    width: calc(100% - 40px);
    height: calc(100% - 20px);
	}
	p{
		display:none
	}
	.footer__text{
		display:none
	}
	.footer__links{
		display:none;
	}

}