@media  only screen and (max-width: 800px) {
	.logo__icon {
    width: 130px;
    height: auto;
    display: block;
	}
	h1 {
	font-size: 2em;
	margin: .51em;
	}
	.wrapper {
	padding-top: 90px
	}

}

@media  only screen and (max-width: 715px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	h1 {
	font-size: 2em;
	margin: .23em;
	}
	.heder{
	font-size: 16px;
	}
	.wrapper {
	padding-top: 90px
}
	.mobile-visible {
		display: none
	}
	.nav__list {
		font-size: 0em;
		font-size: 16px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px

}

@media  only screen and (max-width: 588px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	h1 {
	font-size: 2em;
	margin: .32em;
	}
	.heder{
	font-size: 12px;
	}
	.wrapper {
	padding-top: 79px
	}
	.mobile-visible {
		display: none
	}
	.nav__list {
		font-size: 0em;
		font-size: 12px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px

}

@media  only screen and (max-width: 513px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	.mobile-visible {
		display: none
	}
	h1 {
	font-size: 2em;
	margin: .63em;
	}
	.wrapper {
	padding-top: 78px
	}
	.nav__list {
		font-size: 0em;
		font-size: 9px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
}


@media  only screen and (max-width: 467px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	h1 {
	font-size: 2em;
	margin: 1.04em;
	}
	.eyreyr{
	  bottom: -6px;
	}
	.mobile-visible {
		display: none
	}
	.nav__list {
		font-size: 0em;
		font-size: 7px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
}
@media  only screen and (max-width: 450px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	h1 {
	font-size: 2.4em;
	margin: 0.96em;
	}
	.wrapper {
	padding-top: 78px
	}
	.mobile-visible {
		display: none
	}
	.nav__list {
		font-size: 0em;
		font-size: 6px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: 20px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
}
@media  only screen and (max-width: 420px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	.wrapper {
	padding-top: 79px
	}
	.mobile-visible {
		display: none
	}
	h1 {
	font-size: 2em;
	margin: 1.3em;
	}
	.nav__list {
		font-size: 0em;
		font-size: 6px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: -40px;
		margin-top: 1px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px
	}
	.nav__list
}
@media  only screen and (max-width: 360px) {
	.logo__icon {
    width: 0px;
    height: 40px;
    display: block;
	}
	.wrapper {
	padding-top: 79px
	}
	.mobile-visible {
		display: none
	}
	h1 {
	font-size: 2em;
	margin: 1.3em;
	}
	.nav__list {
		font-size: 0em;
		font-size: 6px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-left: -40px;
		margin-top: 1px
	}
	.nav__item:not(:last-child) {
		margin-right: 20px